<%= form_with(model: actionfolder, local: true) do |form| %>
  
<% if actionfolder.errors.any? %>
    <div id="error_explanation" class="bit-warning close" data-dismiss="alert">
      <h4><%= pluralize(actionfolder.errors.count, "error") %> prohibited this actionfolder from being saved:</h4>
      <ul>
      <% actionfolder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :identifier, id: :actionfolder_identifier %>
  </div>

  <div class="field">
    <%= form.label :pasta %>
    <%= form.text_field :folder, id: :actionfolder_folder %>
  </div>

  <div class="field">
    <%= form.label :advogado %>
    <%= form.text_field :lawyer, id: :actionfolder_lawyer %>
  </div>

  <div class="field">
    <%= form.label :data_baixa %>
    <%= form.text_field :low_date, type: "date",  class: "datepicker",  id: :actionfolder_low_date %>
  </div>

  <div class="field">
    <%= form.label :data_encerramento %>
    <%= form.text_field :closing_date, type: "date", class: "datepicker", id: :actionfolder_closing_date %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :actionfolder_status %>
  </div>

  <div class="field">
    <%= form.label :resultado_da_ação %>
    <%= form.text_field :action_result, id: :actionfolder_action_result %>
  </div>

  <div class="field">
    <%= form.label :uf %>
    <%= form.text_field :uf, id: :actionfolder_uf %>
  </div>

  <div class="actions">
    <%= form.submit :class=>"btn waves-effect waves-light" %>
  </div>
<% end %>
