<p id="notice"><%= notice %></p>

<br><br>
<h2 class="header center orange-text">Pastas</h2>
<div class="row center">
  <h5 class="header col s12 light"></h5>
</div>


<h4>Importar dados do Excel</h4>
<%= form_tag import_from_excel_path, multipart: true do %>
 <%= file_field_tag :file %>
 <%= submit_tag "Importar", :class=> "btn"%>
<% end %>
<br>
<hr>


<br>


<%= link_to 'Criar Pasta', new_actionfolder_path, :class=> "btn waves-effect waves-light right"%>

<br> 
<br>
<br>

<table class="highlight" >
  <thead>
    <tr>
      <th>ID</th>
      <th>Pasta</th>
      <th>Advogado</th>
      <th>Status</th>
      <th>Resultado da Ação</th>
      <th>UF</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @actionfolders.each do |actionfolder| %>
      <tr>
        <td><%= actionfolder.identifier %></td>
        <td><%= link_to actionfolder.folder, actionfolder %></td>
        <td><%= actionfolder.lawyer %></td>
        <td><%= actionfolder.status %></td>
        <td><%= actionfolder.action_result %></td>
        <td><%= actionfolder.uf %></td>
        <td><%= link_to 'Edit', edit_actionfolder_path(actionfolder) %></td>
        <td><%= link_to 'Destroy', actionfolder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= will_paginate @actionfolders %>

<br>


